<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCwMdmSOIi5KLOKEpa9jIF2munhkbDZ1mM</string>
	<key>GCM_SENDER_ID</key>
	<string>1026081196501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MinsWorks.EnsembleWave</string>
	<key>PROJECT_ID</key>
	<string>ensemblewave-c3881</string>
	<key>STORAGE_BUCKET</key>
	<string>ensemblewave-c3881.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026081196501:ios:91a6164c1404c4b7a3d55c</string>
</dict>
</plist>